.venv/
venv/
__pycache__/
*.pkl
*.log
*.pyc
.env
mlruns/
catboost_info/
logs/
.streamlit/secrets.toml
pycaret_*.png
Confusion*.png
AUC*.png
Feature*.png
Residuals*.png
Prediction*.png
SHAP*.png
Precision*.png
Lift*.png
